$white: #FFFFFF;

.pink {
  background: #bd93fa !important;
  color: $white !important;
  .title {
    color: $white !important;
  }
}

.yellow {
  background: #f1fa8c !important;
  color: #474a2a !important;
  .title {
    color: #474a2a !important;
  }
}

.light-blue {
  background: #8be9fd !important;
  color: $white !important;
  .title {
    color: $white !important;
  }
}

.red {
  background: #ff5555 !important;
  color: $white !important;
  .title {
    color: $white !important;
  }
}

.blue {
  background-color: #209cee;
  color: #fff;
}

.highlight-caret {
  color: #88b2cc;
}