// Styling for Joystick on Interface
$stick-color: #00c4a7;

.joystick {
  background: $stick-color;
  //background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 100%, rgba(106,106,218,1) 100%);
  border-radius: 100%;
  cursor: pointer;
  height: 100%;
  user-select: none;
  width: 100%;
}


.highlight-caret {
  color: $stick-color;
}

#joystick {
  background-color: #2c5eec;
  border-radius: 15%;
  border: 1px solid #6161ef;

  i {
    font-size: 5rem;
  }

  .fa-caret-left, .fa-caret-right {
    position: relative;
    top: 25%;
  }

  .columns {
    margin-bottom: 0;
  }

  .fa-caret-right, .fa-caret-left, .fa-caret-up, .fa-caret-down {
    cursor: pointer;

    &:hover {
      color: $stick-color;
    }
  }
}

#joystick-control {
  margin: 2rem auto 2rem auto;
  width: 140px;
  height: 140px;
  padding: 10px;
}

#custom-moves {
  background: blueviolet;
  margin-top: 3%;
  border-radius: 15px;
}

#sensor-readings {
  margin-top: 6%;
}