<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="{{ photoURL }}" class="is-rounded">
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">Hi, {{ displayName }}</a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button is-danger" id="read-motion-sensor-data" style="display: none;">
                        <strong>Read Motion Sensor</strong>
                        <span class="icon">
                            <i class="fa fa-refresh"></i>
                        </span>
                    </button>
                    <button class="button is-primary" id="event-menu-trigger">
                        <strong>Events</strong>
                        <span class="icon">
                            <i class="fa fa-envelope-o"></i>
                        </span>
                    </button>
                    <button class="button is-link" id="image-gallery-trigger">
                        <strong>Gallery</strong>
                        <span class="icon">
                            <i class="fa fa-picture-o"></i>
                        </span>
                    </button>
                    <button class="button is-warning" id="logout">
                        <strong>Logout</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>

<article id="control-panel">
    <div class="columns" id="control-panel1">
        <div class="column is-12">
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box pink">
                            <p class="title">Video</p>
                            <label class="switch">
                                <input type="checkbox" id="video-switch">
                                <span class="slider round"></span>
                            </label>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box yellow">
                            <p class="title">Picture</p>
                            <button class="button is-large" id="camera-button">
                                <span class="icon is-large">
                                  <i class="fa fa-camera" aria-hidden="true"></i>
                                </span>
                            </button>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box light-blue">
                            <p class="title">Status:
                            <span id="status-update">
                                <span class="subtitle">Pinging...</span>
                            </span>
                            </p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box red">
                            <p class="title">Mode</p>
                            <div class="select">
                                <select id="mode-select">
                                    <option value="0">Do nothing</option>
                                    <option value="true">Auto</option>
                                    <option value="false">Manual</option>
                                </select>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent" id="video-container">
                        <article class="tile is-child box animated" id="video-stream-container">
                            <iframe id="live-stream-frame" width="640" height="360" src="https://www.youtube.com/embed/live_stream?channel=UC5TaG-84yWqkwYU1NA1x5JQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </article>
                    </div>
                    <div class="tile is-parent is-3">
                        <article class="tile is-child box blue animated" id="controls-container">
                            <div id="proximity-readings" class="columns" style="display: none;">
                                <div class="column">
                                    <article class="message is-danger">
                                        <div class="message-header">
                                        <p>Proximity Data</p>
                                      </div>
                                        <table class="table is-bordered is-fullwidth">
                                            <thead>
                                                <tr>
                                                      <th>Position</th>
                                                      <th>Distance CM</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>Front</th>
                                                    <td id="front">20.2</td>
                                                </tr>
                                                <tr>
                                                    <th>Rear</th>
                                                    <td id="rear">20.8</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </article>
                                </div>
                            </div>
                            <div id="joystick-container">
                                <div id="joystick">
                                    <div class="columns is-mobile is-centered is-gapless">
                                        <div class="column is-three-fifths"><i class="fa fa-caret-up"></i></div>
                                    </div>
                                    <div class="columns is-mobile is-centered is-gapless">
                                        <div class="column is-one-fifth"><i class="fa fa-caret-left"></i></div>
                                        <div class="column is-three-fifths">
                                            <div id="joystick-control"></div>
                                        </div>

                                        <div class="column is-one-fifth"><i class="fa fa-caret-right"></i></div>
                                    </div>
                                    <div class="columns is-mobile is-centered is-gapless">
                                        <div class="column is-three-fifths"><i class="fa fa-caret-down"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div id="custom-moves" class="columns" style="display: none">
                                <div class="column">
                                    <label class="label">Custom Moves</label>
                                </div>
                                <div class="column">
                                    <div class="select is-primary">
                                        <select></select>
                                    </div>
                                </div>
                                <div class="column">
                                    <button class="button is-warning">Send Move</button>
                                </div>
                            </div>

                            <div id="motion-sensor" class="columns">
                                <div class="column">
                                    <article class="message">
                                        <div class="message-header">
                                        <p>Motion Data</p>
                                        <button class="delete" aria-label="delete" id="close-motion"></button>
                                      </div>
                                        <table class="table is-bordered is-fullwidth">
                                            <thead>
                                                <tr>
                                                      <th>Position</th>
                                                      <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>Front</th>
                                                    <td id="motion-front"></td>
                                                </tr>
                                                <tr>
                                                    <th>Rear</th>
                                                    <td id="motion-rear"></td>
                                                </tr>
                                                <tr>
                                                    <th>Left</th>
                                                    <td id="motion-left"></td>
                                                </tr>
                                                <tr>
                                                    <th>Rear</th>
                                                    <td id="motion-right"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </article>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>
<aside class="box" id="events-panel">
    <div class="card events-card">
        <header class="card-header">
            <p class="card-header-title">Events</p>
        </header>
        <div class="card-table">
            <div class="content">
                <table class="table is-fullwidth is-striped" id="events-table">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</aside>
<aside class="box" id="image-panel">
    <div class="card events-card">
        <header class="card-header">
            <p class="card-header-title">Images</p>
        </header>
        <div class="card-table">
            <div class="content">
                <div class="list" id="image-list"></div>
            </div>
        </div>
    </div>
</aside>