<article id="control-panel">
    <div class="columns">
        <div class="column is-12">
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="is-pulled-left">
                        <h1 class="title">
                            Hello, {{ displayName }}
                        </h1>
                        <h2 class="subtitle">
                            I hope you are having a great day!
                        </h2>
                    </div>
                    <div class="is-pulled-right">
                        <figure class="image is-64x64 is-pulled-right">
                            <img src="{{ photoURL }}" class="is-rounded">
                        </figure>
                    </div>
                </div>
            </section>
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">Video</p>
                            <label class="switch">
                                <input type="checkbox" id="video-switch">
                                <span class="slider round"></span>
                            </label>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">Picture</p>
                            <a class="button is-large" id="camera-button">
                                <span class="icon is-large">
                                  <i class="fa fa-camera" aria-hidden="true"></i>
                                </span>
                            </a>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">Status</p>
                            <p class="subtitle">Waiting...</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">19</p>
                            <p class="subtitle">Exceptions</p>
                        </article>
                    </div>
                </div>
            </section>
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <div class="card events-card">
                                <header class="card-header">
                                    <p class="card-header-title">Events</p>
                                    <a href="#" class="card-header-icon" aria-label="more options">
                            <span class="icon">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                                    </a>
                                </header>
                                <div class="card-table">
                                    <div class="content">
                                        <table class="table is-fullwidth is-striped" id="events-table">
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="#" class="card-footer-item">View All</a>
                                </footer>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-6">
                        <article class="tile is-child box">
                            <embed src="https://www.youtube.com/embed/82vNwi8VA40" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            <!--<iframe id="live-stream-frame" width="560" height="349"  src="https://www.youtube.com/embed/live_stream?channel=UC5TaG-84yWqkwYU1NA1x5JQ" frameborder="0" allowfullscreen></iframe>-->
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <div id="joystick"></div>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>